body {
    min-height: 4096px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 25px;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 0px 10px rgb(5, 80, 167);
    background: linear-gradient(to right, rgb(5, 80, 167), rgb(78, 153, 76));
}